*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------Header-------------*/

nav {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0 20px; 
}

nav p {
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 800;
    font-style: italic;
    margin: 0 300px 0 0; 
}

.logo {
    color: red;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px; 
    margin: auto;  
}

.links a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Noto Serif", serif;
    color: whitesmoke;
}

/* .links a:active {
    color: red;
} */

.links a:nth-child(3) {
    margin-right: 500px;
}

.links a:hover {
    color: red;
}

/*-------Home---------*/
.imgContainer{
    width: 100%;
    height: 50vh;
    background-image: url('/img/japan2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeTitle{
    text-align: center;
    padding-top: 200px;
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    color: whitesmoke;
}

.span {
    color: red;
}

.text{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lorem{
    width:30%;
    font-size: 18px;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    color: dimgray;
}

.photo{
    width: 30%;
}
/*-------Destinations-------*/

.destinationsTitle{
    margin-top: 60px;
    text-align: center;
}

.destContainer{
    width: 80%;
    height: 70vh; 
    margin: auto;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
  
}

.destCard{
    width: calc(18%); 
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.destCard > a {
    cursor: pointer;
    text-decoration: none;
}

.cardContainer{
    padding: 10px 16px;
    text-align: center;
    line-height: 1.6;
    color: dimgray;
}

/*------SingleDest---------*/
.photo{
    height: 50vh;
    width: 60%;
    margin: 60px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo img{
    width: 800px;
}

.singleTitle{
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
    font-family: "Noto Serif", serif;
    font-style: italic;
}

.textInfo{
    width: 60%;
    height: 35vh;
    margin: 60px auto 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textInfo h3{
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
}

.desc{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.practical{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}



/*---------Contact---------*/
.contactsTitle{
    text-align: center;
    margin-top: 60px;
}
form{
    width: 60%;
    margin: 100px auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}

input{
    padding: 15px;
    border: 1px solid gray;
}

.btn{
    margin-top: 100px;
    width: 40%;
    margin: auto;
    height: 40px;
    background-color: teal;
    color: white;
    font-size: 20px;
    border-radius: 9px;
    cursor: pointer;
}

.success{
    color: green
}

/*------Footer--------*/
footer{
    width: 100%;
    background-color: black;
    height: auto;
    padding: 10px;
    position: fixed;
    bottom: 0;

}

.info{
    
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.address {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address p:first-child{
    cursor:pointer;
}

.hours{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright{
    margin-top: 15px;
    color: whitesmoke;
    text-align: center;
}

