<footer>
    <section class="info">
        <article class="address"> 
            <p>japan.<span class="logo">com</span></p>
            <p>tel: 02/345 67 89</p>
            <p>16 rue de la Loi - 1000 BXL</p>
        </article>
        <article class="hours">
            <p>Opening hours :</p>
            <p>Monday thru Friday</p>
            <p>9am - 05pm</p>
        </article>
    </section>
    <p class="copyright">©alainRoos-2024</p>
</footer>

</body>

</html>