<%- include('header.ejs') %>
    <main class="container">
        <section class="imgContainer">
            <h1 class="homeTitle">Disc<span class="span">o</span>ver Jap<span class="span">a</span>n</h1>
        </section>
        <section class="text">
            <article class="lorem">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iste, beatae ad maxime voluptate dolorum eveniet autem magni, quisquam temporibus incidunt voluptatibus distinctio commodi eius molestias ipsam vitae ratione sequi labore nesciunt asperiores officiis, facilis quae ipsum? Fugiat, mollitia corrupti?</p>
            </article>
            <article class="img">
                <img src="/img/japan1.jpg" alt="" width="400">
            </article>
        </section> 
    </main>
    <%- include('footer.ejs') %>