<%- include('header.ejs') %>

<div class="container">
    <h1 class="singleDestinationTitle"><%= singleDestinationData.name %></h1>
    <!-- Other content of the single destination -->
</div>

<%- include('footer.ejs') %>